openapi: '3.0.0'
servers:
  - url: 'https://api-prod.surfsight.net/{apiVersion}'
    description: 'The production API server'
    variables:
      apiVersion:
        default: 'v2'
        enum:
          - 'v2'
info:
  description: 'SurfSight API'
  version: '2.0.0'
  title: 'SurfSight API'
  contact:
    email: 'support@surfsight.com'
tags:
  - name: 'Authentication'
    description: 'Everything about authentication endpoints.'
  - name: 'Devices'
    description: 'Everything about devices endpoints.'
  - name: 'Organizations'
    description: 'Everything about organizations endpoints.'
externalDocs:
  description: Quickstart Guide - Please read
  url: https://documentation.s3.us-east-2.amazonaws.com/v2/SurfsightAPI.html
paths:
  /authenticate:
    post:
      tags:
        - 'Authentication'
      description:
        'This endpoint is used to authenticate the user. It must be used prior
        to making any other API calls. Token obtained from this call should be inserted
        in all other API calls in http header in the form of authorization: bearer {token}'
      summary: 'API endpoint for user authentication'
      operationId: 'postAuthenticate'
      requestBody:
        $ref: '#/components/requestBodies/postAuthenticate'
      responses:
        '200':
          $ref: '#/components/responses/postAuthenticate'
        '400':
          $ref: '#/components/responses/badRequestError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/users:
    post:
      tags:
        - 'Users'
      security:
        - bearerAuth: []
      description: 'Allows to create users within an organization by a partner'
      summary: 'Create users'
      operationId: postOrganizationUsers
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationUsers'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationUsers'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/devices/calibrate-accelerometer:
    post:
      tags:
        - 'Device Operations'
      description: 'Allows to calibrate device accelerometer remotely, for a single or multiple devices. This request will only work on devices that are online'
      summary: 'Calibrate accelerometer'
      operationId: 'postOrganizationDevicesCalibrateAccelerometer'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationDevicesCalibrateAccelerometer'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationDevicesCalibrateAccelerometer'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/bulk-devices:
    post:
      tags:
        - 'Devices'
      description: 'Allows to bulk save devices based on given list of imeis and name of devices'
      summary: 'Bulk Save Devices'
      operationId: 'postBulkDevices'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postBulkDevices'
      responses:
        '200':
          $ref: '#/components/responses/postBulkDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/device-config:
    put:
      tags:
        - 'Devices'
      description:
        'This API allows users to set bulk device settings such as on/off
        rear camera, on/off sound recording, on/off distracted driver functionality and
        more'
      summary: 'Set bulk devices configuration'
      operationId: 'putBulkDeviceConfig'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/putBulkDeviceConfig'
      responses:
        '200':
          $ref: '#/components/responses/putDeviceConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}:
    patch:
      tags:
        - 'Devices'
      description: 'Allows to update a device and its various properties'
      summary: 'Update devices'
      operationId: 'patchDevice'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/patchDevice'
      responses:
        '200':
          $ref: '#/components/responses/patchDevice'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/cameras:
    get:
      tags:
        - 'Devices'
      description: >
        This API returns a list of cameras that are available for live streaming by a specific device, the device must
        be online for this endpoint to returns a list of cameras, the response includes all cameras that can be used for
        live streaming, camera ID 1 is the front camera and camera ID 2 is the cabin facing camera, other cameras will
        also be available and those are the auxiliary cameras
      summary: 'Active cameras'
      operationId: 'getDeviceCameras'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceCameras'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
    patch:
      tags:
        - 'Device Operations'
      description: 'Update the name of an auxiliary camera.'
      summary: 'Update auxiliary camera name'
      operationId: 'patchDeviceCameras'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/patchDeviceCameras'
      responses:
        '200':
          $ref: '#/components/responses/patchDeviceCameras'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/cameras/{cameraId}/snapshot:
    get:
      tags:
        - 'Recordings'
      description: 'Receive a snapshot from a specific camera. The snapshot captures a picture of the camera’s current view. The camera must be online.'
      summary: 'Receive camera snapshot'
      operationId: 'getDeviceCameraSnapshot'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/cameraIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceCameraSnapshot'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/recording-ranges:
    get:
      tags:
        - 'Recordings'
      description: 'This API is used to obtain information about availability
        of recordings from the given device for every camera attached to this
        device in the given time range. Returns an array of objects for the given
        device where each object contains pair of camera ID and array of time
        ranges when this camera has available recordings'
      summary: 'Obtain recording availability info'
      operationId: 'getDeviceRecordingRanges'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/startQuery'
        - $ref: '#/components/parameters/endQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceRecordingRanges'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/retention-config:
    get:
      tags:
        - 'Recordings'
      description: 'This API is used to get the current cyclic recording retention time (in minutes) for each camera ID'
      summary: 'Retrieve recording retention time'
      operationId: 'getDeviceRetentionConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceRetentionConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      tags:
        - 'Recordings'
      description: 'This API is used to update the current cyclic recording retention time (in minutes) for each camera ID'
      summary: 'Update recording retention time'
      operationId: 'putDeviceRetentionConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/putDeviceRetentionConfig'
      responses:
        '200':
          $ref: '#/components/responses/putDeviceRetentionConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/virtual-event:
    post:
      tags:
        - 'Virtual Event'
      description: >
        This API is used to trigger generation of a virtual event trigger which causes media (either video or an image)
        to be uploaded to the cloud. The media can be later obtained using the event-file-link method. Please note that
        it can take time to upload the media from the device onto the cloud, if parameter "cameraId" is used than the
        event will have media for the given "cameraId" only
      summary: 'Generate virtual event'
      operationId: 'postVirtualEvent'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/postVirtualEvent'
      responses:
        '200':
          $ref: '#/components/responses/postVirtualEvent'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/event-config:
    put:
      tags:
        - 'Events'
      description: 'Set events settings for bulk devices by list of IMEIs or groups'
      summary: 'Set event settings for bulk devices'
      operationId: 'putBulkEventConfig'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/putBulkEventConfig'
      responses:
        '200':
          $ref: '#/components/responses/putBulkEventConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/event-config:
    put:
      tags:
        - 'Events'
      description:
        'This API allows users to set the events configuration for a given device.
        The configuration includes parameters such as vehicle type (which is used for
        setting acceleration/harsh cornering/etc. events), additional type of data for every
        type of event such as video or snapshot, and others'
      summary: 'Set event configuration for a device'
      operationId: 'putEventConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/putEventConfig'
      responses:
        '200':
          $ref: '#/components/responses/putEventConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Events'
      description:
        'This API allows users to retrieve the events configuration of a given
        device. The configuration includes parameters such as vehicle type (which is used for
        setting acceleration/harsh cornering/etc. events), additional type of data for every
        type of event such as video or snapshot, and others'
      summary: 'Get event configuration of a device'
      operationId: 'getEventConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getEventConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/geofences:
    get:
      tags:
        - 'Geofences'
      description: 'Returns list of all configured geo fences for the given device'
      summary: 'Get list of geo fences'
      operationId: 'getDeviceGeoFences'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceGeoFences'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      tags:
        - 'Geofences'
      description: 'Sets the list of geofences for the given device'
      summary: 'Set list of geo fences'
      operationId: 'setDeviceGeoFences'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/setDeviceGeoFences'
      responses:
        '200':
          $ref: '#/components/responses/setDeviceGeoFences'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/device-config:
    put:
      tags:
        - 'Devices'
      description:
        'This API allows users to set various device settings such as on/off
        rear camera, on/off sound recording, on/off distracted driver functionality and
        more'
      summary: 'Set device configuration'
      operationId: 'putDeviceConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/putDeviceConfig'
      responses:
        '200':
          $ref: '#/components/responses/putDeviceConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Devices'
      description:
        'This API allows users to get various device settings such as on/off
        rear camera, on/off sound recording, on/off distracted driver functionality and
        more'
      summary: 'Get device configuration'
      operationId: 'getDeviceConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/reboot:
    post:
      tags:
        - 'Device Operations'
      description:
        'Reboots the device. Applicable only when the device is connected
        to the cloud service'
      summary: 'Reboot the device'
      operationId: 'postDeviceReboot'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/postDeviceReboot'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /associated-devices:
    post:
      tags:
        - 'Devices'
      description: 'Fetch associated devices IDs based on a given list of IMEIs'
      summary: 'Fetch list of associated devices IDs'
      operationId: 'postAssociatedDevices'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/postAssociatedDevices'
      responses:
        '200':
          $ref: '#/components/responses/postAssociatedDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/otg-settings:
    post:
      tags:
        - 'Device Operations'
      description: 'Enable or disable OTG for a given device, applicable only when the device is connected to the cloud service'
      summary: 'Enable OTG in device'
      operationId: 'postDeviceOtgSettings'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/postDeviceOtgSettings'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/format-storage:
    get:
      tags:
        - 'Device Operations'
      description: 'Format the device SD card, applicable only when the device is connected to the cloud service'
      summary: 'Format the device SD card'
      operationId: 'getDeviceFormatStorage'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceFormatStorage'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/connect-media:
    post:
      tags:
        - 'Streaming'
      description: |
        This call will return the URL to retrieve a recording or live video and an authentication token for
        required for the URL, the token is valid for 30 minutes. After that it can be renewed using the same
        API, this call will have to be called again if a device does not start streaming within 2 minutes.
      summary: 'Prepare Device Media Streaming'
      operationId: 'postDeviceConnectMedia'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/postDeviceConnectMedia'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/events:
    get:
      tags:
        - 'Events'
      description:
        'Returns list of events in the given time range. Note: retention
        period of events is 30 days'
      summary: 'Get list of events'
      operationId: 'getDeviceEvents'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/startQuery'
        - $ref: '#/components/parameters/endQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceEvents'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/events/{eventId}:
    get:
      tags:
        - 'Events'
      description: 'Returns a specific event'
      summary: 'Get an event'
      operationId: 'getDeviceEvent'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/eventIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceEvent'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    delete:
      tags:
        - 'Events'
      description: 'Delete a specific event'
      summary: 'Delete an event'
      operationId: 'deleteDeviceEvent'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/eventIdPath'
      responses:
        '200':
          $ref: '#/components/responses/deleteDeviceEvent'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/event-file-link:
    get:
      tags:
        - 'Events'
      description: 'This API is used to obtain a file attached to an
        event generated by the given device. This API can be used in
        2 different flows. The first flow is querying for occurred
        events in a given period of time and then downloading the files
        for those events. In this case all information required to use
        this API is available in the event object received from events
        API. The second flow is when a virtual event is generated and
        a user wants to access the event files without querying for
        events using /devices/{imei}/events API. In this case the user
        should have some additional info like virtual event configuration
        on the device and IDs of the connected cameras to the device.
        In case of virtual event the fileId parameter can be set to be
        unit timestamp (seconds from epoch) of the event. Note that this
        is applicable only to virtual events. For all other events fileId
        must be obtained from /devices/{imei}/events response. *Please note
        that URL may remain active for several minutes and possibly up to
        a few hours, the requester may need to re-request the link if
        it has expired (and should not relay on the expiration time in the returned URL)'
      summary: 'Get link to a file'
      operationId: 'getDeviceEventFileLink'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/fileIdQuery'
        - $ref: '#/components/parameters/fileTypeQuery'
        - $ref: '#/components/parameters/cameraIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceEventFileLink'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/trips:
    get:
      tags:
        - 'Telemetry'
      description:
        'Returns list of trips in the given time range. Note: retention
        period of trips data is 30 days'
      summary: 'Get list of trips'
      operationId: 'getDeviceTrips'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/startQuery'
        - $ref: '#/components/parameters/endQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceTrips'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/gps:
    get:
      tags:
        - 'Telemetry'
      description: 'Returns GPS data'
      summary: 'Get GPS data'
      operationId: 'getDeviceGps'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/startQuery'
        - $ref: '#/components/parameters/endQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceGps'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/telemetry:
    get:
      tags:
        - 'Telemetry'
      description: >
        This API returns device telemetry, the device must be online for this endpoint to returns telemetry
      summary: 'Get device telemetry'
      operationId: 'getDeviceTelemetry'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceTelemetry'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/{cameraId}/telemetry:
    get:
      tags:
        - 'Streaming'
      description: >
        This API returns device camera telemetry taken from media server, to which device is connected
      summary: 'Gets device camera telemetry'
      operationId: 'getDeviceCameraTelemetry'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/cameraIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceCameraTelemetry'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /partner-contacts:
    get:
      tags:
        - 'Partners'
      description: 'Return list of contacts belonging to a partner along with the partner details itself'
      summary: 'Get partner and contacts'
      operationId: 'getCurrentPartnerContacts'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/getCurrentPartnerContacts'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /partners/{partnerId}/contacts:
    get:
      tags:
        - 'Partners'
      description: 'Return list of contacts belonging to a partner'
      summary: 'Get partner contacts'
      operationId: 'getPartnerContacts'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getPartnerContacts'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      tags:
        - 'Partners'
      description: 'Create new partner contact'
      summary: 'Create partner contacts'
      operationId: 'postPartnerContacts'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postPartnerContacts'
      responses:
        '200':
          $ref: '#/components/responses/postPartnerContacts'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /partners/{partnerId}/contacts/{partnerContactId}:
    delete:
      tags:
        - 'Partners'
      description: 'Delete a contact belonging to a partner'
      summary: 'Delete a partner contact'
      operationId: 'deletePartnerContacts'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerIdPath'
        - $ref: '#/components/parameters/partnerContactIdPath'
      responses:
        '200':
          $ref: '#/components/responses/deletePartnerContacts'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/devices:
    get:
      tags:
        - 'Devices'
      description: 'Returns List of all devices in the organization with the given ID'
      summary: 'Get organization devices'
      operationId: 'getOrganizationDevices'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
        - $ref: '#/components/parameters/groupIdQuery'
        - $ref: '#/components/parameters/nameQuery'
        - $ref: '#/components/parameters/imeiQuery'
        - $ref: '#/components/parameters/locatedQuery'
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
      responses:
        '200':
          $ref: '#/components/responses/getOrganizationDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      tags:
        - 'Devices'
      description: 'Add new device to the organization'
      summary: 'Add a device'
      operationId: 'postOrganizationDevices'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationDevices'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '409':
          $ref: '#/components/responses/conflictError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/devices/{imei}:
    delete:
      tags:
        - 'Devices'
      description: 'Delete a device from an organization'
      summary: 'Delete a device'
      operationId: 'deleteOrganizationDevices'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/deleteOrganizationDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /me:
    get:
      tags:
        - 'Partners'
        - 'Users'
      description: 'Allows to retrieve the current authenticated entity'
      summary: 'Get self info'
      operationId: 'getMe'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/getMe'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/groups:
    get:
      tags:
        - 'Groups'
      description: 'Returns List of all groups in the organization with the given ID'
      summary: 'Get organization groups'
      operationId: 'getOrganizationGroups'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getOrganizationGroups'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      tags:
        - 'Groups'
      description: 'Create a new group in the organization with the given ID'
      summary: 'Create group'
      operationId: 'postOrganizationGroups'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationGroups'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationGroups'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /audit-logs:
    get:
      tags:
        - 'Audit logs'
      description: 'This API is for retrieving audit logs of a requesting users organization by date (mandatory), organization ID (based on access permissions)'
      summary: 'Retrieve organizations audit logs'
      operationId: 'getAuditLogs'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/startQuery'
        - $ref: '#/components/parameters/endQuery'
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/partnerIdQuery'
        - $ref: '#/components/parameters/organizationIdQuery'
        - $ref: '#/components/parameters/imeiQuery'
      responses:
        '200':
          $ref: '#/components/responses/getAuditLogs'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/groups/{groupId}/devices:
    post:
      tags:
        - 'Groups'
      description:
        'Add list of devices to a group with the given ID. Only device that belongs
        to the same organization can be added to the group. If the device was already
        added to other group prior to this call, it will be removed from that group
        and added to the new group'
      summary: 'Add devices to group'
      operationId: 'postOrganizationGroupDevices'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
        - $ref: '#/components/parameters/groupIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationGroupDevices'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationGroupDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/webhooks:
    get:
      tags:
        - 'Webhooks'
      description: 'Returns List of webhooks configured for this organization'
      summary: 'Get organization webhooks'
      operationId: 'getOrganizationWebhooks'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getOrganizationWebhooks'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      tags:
        - 'Webhooks'
      description: 'Allows to add a single device to the webhook subscription'
      summary: 'Add device to webhook subscription'
      operationId: 'postOrganizationWebhook'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationWebhook'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationWebhook'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      tags:
        - 'Webhooks'
      description: >
        Replaces the entire list of devices subscribed to webhooks with a new list of devices (identified by their IMEI
        numbers)
      summary: 'Set or replace webhooks subscription'
      operationId: 'putOrganizationWebhooks'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/putOrganizationWebhooks'
      responses:
        '200':
          $ref: '#/components/responses/putOrganizationWebhooks'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/webhooks/{webhookId}:
    delete:
      tags:
        - 'Webhooks'
      description: 'Deletes a specific webhook within an organization'
      summary: 'Delete a webhook'
      operationId: 'deleteOrganizationWebhooks'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
        - $ref: '#/components/parameters/webhookIdPath'
      responses:
        '200':
          $ref: '#/components/responses/deleteOrganizationWebhooks'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations:
    get:
      tags:
        - 'Organizations'
      security:
        - bearerAuth: []
      description: 'This endpoints allows to retrieve a list of organizations belonging to current authenticated entity'
      summary: 'Get organization'
      operationId: 'getOrganizations'
      responses:
        '200':
          $ref: '#/components/responses/getOrganizations'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      tags:
        - 'Organizations'
      description: 'This function is used to add a new organization to the organizations list - only a partner is allowed to interact with this API'
      summary: 'Create new organization'
      operationId: 'postOrganization'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/postOrganization'
      responses:
        '200':
          $ref: '#/components/responses/postOrganization'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}:
    get:
      tags:
        - 'Organizations'
      description: 'Allows to retrieve a organization with the given ID'
      summary: 'Get organization'
      operationId: 'getOrganization'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getOrganization'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    patch:
      tags:
        - 'Organizations'
      description: 'Allows to update an organization and its various properties, available - only a partner is allowed to interact with this API'
      summary: 'Update organization'
      operationId: 'patchOrganization'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/patchOrganization'
      responses:
        '200':
          $ref: '#/components/responses/patchOrganization'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/sso:
    get:
      tags:
        - 'Organizations'
      security:
        - bearerAuth: []
      description:
        'This endpoint is used to authenticate the organization, a valid JWT token should be provided in authorization header. It must be used prior
        to making any other API calls. Token obtained from this call should be inserted
        in all other API calls in http header in the form of authorization: Bearer {token}.
        This API call is only available for partner accounts, the same account email can not exist in other accounts'
      summary: 'Organization SSO end point'
      operationId: 'getOrganizationSso'
      responses:
        '200':
          $ref: '#/components/responses/getOrganizationSso'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /device-health:
    get:
      tags:
        - 'Health'
      description: 'This API is used for health report of devices belong to the user. Partners can filter an organization devices by providing the Organization ID'
      summary: 'Retrieve devices health report'
      operationId: 'getDevicesHealth'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/lastConnectedAtStartQuery'
        - $ref: '#/components/parameters/lastConnectedAtEndQuery'
        - $ref: '#/components/parameters/lastRecordingUpdatedAtStartQuery'
        - $ref: '#/components/parameters/lastRecordingUpdatedAtEndQuery'
        - $ref: '#/components/parameters/lastRecordingHealthQuery'
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
        - $ref: '#/components/parameters/imeiQuery'
        - $ref: '#/components/parameters/nameQuery'
        - $ref: '#/components/parameters/deviceHealthSortQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDevicesHealth'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /recipients/health:
    get:
      tags:
        - 'Health'
      description: 'This API is for retrieving health recipients configured by the user. Partners can filter recipients added specific to an organization by providing the organization ID'
      summary: 'Retrieve health recipients'
      operationId: 'getHealthRecipients'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/getHealthRecipients'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      tags:
        - 'Health'
      description: 'This API is for adding a new health recipient to recive health report email. Health recipient will frequently recieve email reports as per report interval specified in the configuration.'
      summary: 'Create new health recipient'
      operationId: 'postHealthRecipient'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
      requestBody:
        $ref: '#/components/requestBodies/postHealthRecipient'
      responses:
        '200':
          $ref: '#/components/responses/postHealthRecipient'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /recipients/health/{recipientId}:
    delete:
      tags:
        - 'Health'
      description: 'This API is for deleting an existing health recipient of given ID'
      summary: 'Delete health recipient'
      operationId: 'deleteHealthRecipient'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/recipientIdPath'
      responses:
        '200':
          $ref: '#/components/responses/deleteHealthRecipient'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /alarms:
    get:
      tags:
        - 'Alarms'
      description: 'This API is for retrieving alarms created for the user. Partner can filter alarms generated for an organizatoin by providing the Organization ID.'
      summary: 'Retrieve alarms report'
      operationId: 'getAlarms'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
        - $ref: '#/components/parameters/imeiQuery'
        - $ref: '#/components/parameters/nameQuery'
        - $ref: '#/components/parameters/alarmDefinitionNameQuery'
        - $ref: '#/components/parameters/alarmDefinitionSeverityQuery'
        - $ref: '#/components/parameters/readFilterQuery'
        - $ref: '#/components/parameters/unreadFilterQuery'
        - $ref: '#/components/parameters/openFilterQuery'
        - $ref: '#/components/parameters/closeFilterQuery'
        - $ref: '#/components/parameters/alarmsSortQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          $ref: '#/components/responses/getAlarms'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /alarms/{alarmId}:
    get:
      tags:
        - 'Alarms'
      description: 'This API is for retrieving alarm of given alarm ID'
      summary: 'Retrieve alarm of given alarm ID report'
      operationId: 'getAlarm'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/alarmIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getAlarm'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /alarms/{alarmId}/actions:
    post:
      tags:
        - 'Alarms'
      description: 'This API is for adding an alarm action to given alarm ID. Alarm action type can be one of "read", "close", "open"'
      summary: 'Add new action to an alarm. Alarm action can be one of '
      operationId: 'postAlarmAction'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/alarmIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postAlarmAction'
      responses:
        '200':
          $ref: '#/components/responses/postAlarmAction'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /alarms/{alarmId}/comments:
    post:
      tags:
        - 'Alarms'
      description: 'This API is for adding a comment to the alarm of given alarm ID'
      summary: 'Add new comment to an alarm'
      operationId: 'postAlarmComment'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/alarmIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postAlarmComment'
      responses:
        '200':
          $ref: '#/components/responses/postAlarmComment'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /recipients/alarms:
    get:
      tags:
        - 'Alarms'
      description: 'This API is for retrieving alarms recipients configured by the user. Partner can filter recipients added specific to an organization by providing the organization ID'
      summary: 'Retrieve alarms recipients'
      operationId: 'getAlarmsRecipients'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/getAlarmsRecipients'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      tags:
        - 'Alarms'
      description: 'This API is used to add a new alarms recipient to recieve alarms report email. Alarms recipient will frequently recieve email reports as per report interval specified in the configuration. Partner can add alarm recipient specific to an organization by providing the organization ID'
      summary: 'Create new alarms recipient'
      operationId: 'postAlarmsRecipient'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
      requestBody:
        $ref: '#/components/requestBodies/postAlarmsRecipient'
      responses:
        '200':
          $ref: '#/components/responses/postAlarmsRecipient'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /recipients/alarms/{recipientId}:
    patch:
      tags:
        - 'Alarms'
      description: 'This API is used to update alarms recipient configuration of given recipient ID'
      summary: 'Update alarms recipient configuration'
      operationId: 'patchAlarmsRecipient'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/recipientIdPath'
      requestBody:
        $ref: '#/components/requestBodies/patchAlarmsRecipient'
      responses:
        '200':
          $ref: '#/components/responses/patchAlarmsRecipient'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
    delete:
      tags:
        - 'Alarms'
      description: 'This API is for deleting alarms recipient of given recipient ID'
      summary: 'Delete alarms recipient'
      operationId: 'deleteAlarmsRecipient'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/recipientIdPath'
      responses:
        '200':
          $ref: '#/components/responses/deleteAlarmsRecipient'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  requestBodies:
    putDeviceRetentionConfig:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - config
            properties:
              config:
                $ref: '#/components/schemas/retentionConfig'
    patchDevice:
      content:
        application/json:
          schema:
            type: object
            required:
              - name
            properties:
              name:
                $ref: '#/components/schemas/deviceName'
    postAuthenticate:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                $ref: '#/components/schemas/email'
              password:
                $ref: '#/components/schemas/password'
    postOrganizationUsers:
      content:
        application/json:
          schema:
            type: object
            required:
              - email
              - password
              - role
            properties:
              email:
                $ref: '#/components/schemas/email'
              password:
                $ref: '#/components/schemas/password'
              role:
                $ref: '#/components/schemas/role'
    postOrganizationDevicesCalibrateAccelerometer:
      content:
        application/json:
          schema:
            type: object
            properties:
              imeis:
                type: array
                items:
                  $ref: '#/components/schemas/imei'
              groups:
                type: array
                items:
                  $ref: '#/components/schemas/groupId'
              ungrouped:
                type: boolean
    postBulkDevices:
      required: true
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              required:
                - imei
                - name
              properties:
                imei:
                  $ref: '#/components/schemas/imei'
                name:
                  $ref: '#/components/schemas/deviceName'
                groupId:
                  $ref: '#/components/schemas/groupId'
    postVirtualEvent:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - time
            properties:
              time:
                description: 'Event date and time in format of ISO 8601'
                $ref: '#/components/schemas/time'
              mediaType:
                description: 'Determines if the device will upload video or a snapshot'
                type: string
                default: video
                enum:
                  - video
                  - snapshot
              durationSeconds:
                description: 'Length of video in seconds (discarded for snapshot type)'
                type: number
                minimum: 1
                maximum: 86400
              quality:
                description: 'Quality of video event - standard or high'
                type: string
                enum:
                  - standard
                  - high
              cameraId:
                description: 'Camera ID'
                type: number
              metadata:
                description: 'Event metadata'
                type: string
    putBulkEventConfig:
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/putBulkEventConfigImeis'
              - $ref: '#/components/schemas/putBulkEventConfigGroups'
    putEventConfig:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/eventConfig'
    putDeviceConfig:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deviceConfig'
    putBulkDeviceConfig:
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/putBulkDeviceConfigOrganization'
              - $ref: '#/components/schemas/putBulkDeviceConfigImeis'
    setDeviceGeoFences:
      required: true
      content:
        application/json:
          schema:
            type: array
            description:
              'This array contains configuration of all geofence events
              for the given device'
            items:
              $ref: '#/components/schemas/geofence'
    postAssociatedDevices:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              imeis:
                type: array
                description: 'list of IMEIs'
                items:
                  $ref: '#/components/schemas/imei'
    postPartnerContacts:
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/partnerContact'
              - type: object
                required:
                  - password
                properties:
                  password:
                    $ref: '#/components/schemas/password'
    postOrganizationDevices:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/device'
    postOrganizationGroups:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/groupToCreate'
    postOrganizationGroupDevices:
      required: true
      content:
        application/json:
          schema:
            type: array
            description:
              'This array contains imeis of devices wthat will be added
              to the given group. If those devices already belogs to another groups,
              it will be removed from those groups'
            items:
              $ref: '#/components/schemas/imei'
    postOrganizationWebhook:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/webhook'
    putOrganizationWebhooks:
      required: true
      content:
        application/json:
          schema:
            type: array
            description: 'This array contains webhooks'
            items:
              $ref: '#/components/schemas/webhook'
    postOrganization:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - name
            properties:
              name:
                $ref: '#/components/schemas/organizationName'
    patchOrganization:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/organizationName'
              purgeDays:
                $ref: '#/components/schemas/organizationPurgeDays'
              purgeDaysFrontCamera:
                $ref: '#/components/schemas/organizationPurgeDays'
              purgeDaysRearCamera:
                $ref: '#/components/schemas/organizationPurgeDays'
              purgeDaysAuxiliaryCameras:
                $ref: '#/components/schemas/organizationPurgeDays'
    patchDeviceCameras:
      description: Array of objects containing camera ID and name
      required: true
      content:
        application/json:
          schema:
            type: array
            uniqueItems: true
            minItems: 1
            maxItems: 10
            items:
              type: object
              required:
                - cameraId
                - name
              properties:
                cameraId:
                  $ref: '#/components/schemas/cameraId'
                name:
                  type: string
                  minimum: 1
                  maximum: 191
                  nullable: true
    postHealthRecipient:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/healthRecipient'
    postAlarmAction:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/alarmAction'
    postAlarmComment:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/alarmComment'
    postAlarmsRecipient:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/alarmsRecipient'
    patchAlarmsRecipient:
      required: true
      content:
        application/json:
          schema:
            type: object
            description: 'description'
            properties:
              reportIntervalSeconds:
                $ref: '#/components/schemas/alarmsReportIntervalSeconds'
              alarmDefinitions:
                type: array
                items:
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: number
                      description: 'ID of the alarm definition'
                      example: 625
  responses:
    patchDeviceCameras:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    postAuthenticate:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  token:
                    $ref: '#/components/schemas/token'
                  organizationId:
                    $ref: '#/components/schemas/organizationId'
    postOrganizationDevicesCalibrateAccelerometer:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    patchDevice:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    putDeviceRetentionConfig:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    getDeviceRetentionConfig:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                required:
                  - config
                properties:
                  config:
                    $ref: '#/components/schemas/retentionConfig'
    getDeviceCameras:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    cameraId:
                      $ref: '#/components/schemas/cameraId'
    getDeviceCameraSnapshot:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: string
                description: 'Receive a URL to download the requested snapshot.'
                example: 'https://sample.s3.aws.com/123/123.mp4?access_key=1234'

    getDeviceRecordingRanges:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/cameraRangeObject'
    deletePartnerContacts:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    postPartnerContacts:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/extendedPartnerContact'
    postVirtualEvent:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    putBulkEventConfig:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    putEventConfig:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    getEventConfig:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/eventConfig'
    putDeviceConfig:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    getDeviceConfig:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/deviceConfig'
    postBulkDevices:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                properties:
                  accepted:
                    type: array
                    items:
                      $ref: '#/components/schemas/imei'
                  rejected:
                    type: array
                    items:
                      $ref: '#/components/schemas/imei'
    postDeviceReboot:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    postDeviceOtgSettings:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - enabled
            properties:
              enabled:
                type: boolean
    postAssociatedDevices:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/associatedDevices'
    getDeviceFormatStorage:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    postDeviceConnectMedia:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/connectMedia'
    getDeviceEvents:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/event'
    getDeviceEvent:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/event'
    deleteDeviceEvent:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/eventDeleted'
    getDeviceGeoFences:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/geofence'
    setDeviceGeoFences:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    getDeviceEventFileLink:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                required:
                  - url
                properties:
                  url:
                    type: string
                    description: 'Download URL of the requested file'
                    example: 'https://sample.s3.aws.com/123/123.mp4?access_key=1234'
    getDeviceTrips:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/trip'
    getDeviceGps:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                description:
                  'Array that contains all GPS points that belong to the
                  given trip'
                items:
                  $ref: '#/components/schemas/gpsPoint'
    getDeviceTelemetry:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/deviceTelemetry'
    getDeviceCameraTelemetry:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/deviceCameraTelemetry'
    getOrganizationDevices:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/extendedDevice'
              metadata:
                $ref: '#/components/schemas/metadata'
    getOrganizationSso:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - token
            properties:
              token:
                type: string
    getOrganizations:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/extendedOrganization'
    getMe:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                required:
                  - me
                  - entity
                properties:
                  me:
                    oneOf:
                      - $ref: '#/components/schemas/partner'
                      - $ref: '#/components/schemas/user'
                  entity:
                    $ref: '#/components/schemas/entity'
    getOrganization:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/extendedOrganization'
    getAuditLogs:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
              - metadata
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/auditLog'
              metadata:
                $ref: '#/components/schemas/metadata'
    getOrganizationGroups:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/group'
    postOrganizationDevices:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    postOrganizationGroups:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    postOrganizationGroupDevices:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    postOrganization:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - organizationId
              - ssoSecret
            properties:
              organizationId:
                $ref: '#/components/schemas/organizationId'
              ssoSecret:
                type: string
                description: >
                  This SSO secret can be used to verify authenticity of HTTP Post events subscribed to this organization.<br><br>
                  The Header X-Surfsight-Signature will be added to every HTTP Post sent for subscriptions.<br><br>
                  This signature is dependent on the destination URL, ssoSecret and the content of the request body, making every request signature unique.<br><br>
                  You can verify that authenticity of the HTTP post by creating the same signature and comparing the result with the X-Surfsight-Signature Header as shown below.<br><br>
                  The signature is created with Hmac – sha512 algorithm, applied directly on the ssoSecret , cyphered/encoded with a stringified request body + destination URL, and converted to hexa-decimal encoding.<br><br>
                  For example, using the crypto package:<br><br>
                  Signature = crypto.createHmac(sha512, mySsoSecret).update(Json.stringify(request.body) + URL ).digest(hex)<br><br>
                  The outcome for ‘Signature’ should look like this:<br><br>
                  29c4198c5e3da799887deaf0b0450bac8880efc0769cb79b97138ce9888a4308c7211415879152fdc4a14933c77cd4d531e71a29008214360ce340ccf49b87c8<br><br>
                  You can verify that authenticity of the HTTP post by creating the same signature and comparing the result with the X-Surfsight-Signature Header
    patchOrganization:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    getOrganizationWebhooks:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                description:
                  'This array contains all webhooks configured for the
                  given organization'
                items:
                  $ref: '#/components/schemas/webhook'
    postOrganizationWebhook:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    putOrganizationWebhooks:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    deleteOrganizationWebhooks:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    deleteOrganizationDevices:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    postOrganizationUsers:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    getCurrentPartnerContacts:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/extendedPartnerContact'
    getPartnerContacts:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/extendedPartnerContact'
    getDevicesHealth:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
              - metadata
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/deviceHealth'
              metadata:
                $ref: '#/components/schemas/metadata'
    getHealthRecipients:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/extendedHealthRecipient'
    postHealthRecipient:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/extendedHealthRecipient'
    deleteHealthRecipient:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    getAlarms:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
              - metadata
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/alarm'
              metadata:
                $ref: '#/components/schemas/metadata'
    getAlarm:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/alarm'
    postAlarmAction:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/extendedAlarmAction'
    postAlarmComment:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/extendedAlarmComment'
    getAlarmsRecipients:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/extendedAlarmsRecipient'
    postAlarmsRecipient:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/extendedAlarmsRecipient'
    patchAlarmsRecipient:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/extendedAlarmsRecipient'
    deleteAlarmsRecipient:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
    badRequestError:
      description: 'Bad request error'
      content:
        application/json:
          schema:
            title: 'Bad request error'
            allOf:
              - $ref: '#/components/schemas/error'
            example:
              error: 'BadRequestError'
              message: 'bad request error: {message}'
              requestId: '11af5b37-e038-42e0-8dcf-dc8c4aefc000'
    unauthorizedError:
      description: 'Unauthorized error'
      content:
        application/json:
          schema:
            title: 'Unauthorized error'
            allOf:
              - $ref: '#/components/schemas/error'
            example:
              error: 'UnauthorizedError'
              message: 'unauthorized error'
              requestId: '11af5b37-e038-42e0-8dcf-dc8c4aefc000'
    forbiddenError:
      description: 'Forbidden error'
      content:
        application/json:
          schema:
            title: 'Forbidden error'
            allOf:
              - $ref: '#/components/schemas/error'
            example:
              error: 'ForbiddenError'
              message: 'forbidden error'
              requestId: '11af5b37-e038-42e0-8dcf-dc8c4aefc000'
    notFoundError:
      description: 'Not found error'
      content:
        application/json:
          schema:
            title: 'Not found error'
            allOf:
              - $ref: '#/components/schemas/error'
            example:
              error: 'NotFoundError'
              message: 'not found error: {message}'
              requestId: '11af5b37-e038-42e0-8dcf-dc8c4aefc000'
    conflictError:
      description: 'Conflict error'
      content:
        application/json:
          schema:
            title: 'Conflict error'
            allOf:
              - $ref: '#/components/schemas/error'
            example:
              error: 'ConflictError'
              message: 'conflict error: {message}'
              requestId: '11af5b37-e038-42e0-8dcf-dc8c4aefc000'
    expectationFailedError:
      description: 'Expectation failed error'
      content:
        application/json:
          schema:
            title: 'Expectation failed error'
            allOf:
              - $ref: '#/components/schemas/error'
            example:
              error: 'ExpectationFailedError'
              message: 'expectation failed error: {message}'
              requestId: '11af5b37-e038-42e0-8dcf-dc8c4aefc000'
    internalServerError:
      description: 'Internal server error'
      content:
        application/json:
          schema:
            title: 'Internal server error'
            allOf:
              - $ref: '#/components/schemas/error'
            example:
              error: 'UnknownError'
              message: 'unknown error has occurred'
              requestId: '11af5b37-e038-42e0-8dcf-dc8c4aefc000'
  parameters:
    imeiPath:
      in: path
      name: imei
      description: 'Device IMEI'
      required: true
      schema:
        $ref: '#/components/schemas/imei'
    cameraIdPath:
      in: path
      name: cameraId
      description: 'Camera ID'
      required: true
      schema:
        type: string
        description: 'Camera ID'
        example: '2'
    partnerIdPath:
      in: path
      name: partnerId
      description: 'Partner ID'
      required: true
      schema:
        type: string
        description: 'Partner ID'
        example: '62'
    partnerIdQuery:
      in: query
      name: partnerId
      description: 'Partner ID'
      required: false
      schema:
        type: string
        description: 'Partner ID'
        example: '62'
    partnerContactIdPath:
      in: path
      name: partnerContactId
      description: 'Partner Contact ID'
      required: true
      schema:
        type: string
        description: 'Partner Contact ID'
        example: '62'
    orgIdPath:
      in: path
      name: orgId
      description: 'Organization ID'
      required: true
      schema:
        type: string
        description: 'Organization ID'
        example: '62'
    organizationIdQuery:
      in: query
      name: orgId
      description: 'Organization ID'
      required: false
      schema:
        $ref: '#/components/schemas/organizationId'
    partnerOrganizationIdQuery:
      in: query
      name: organizationId
      description: 'Organization ID of partner organization. This is optional parameter for partner. Objects will be related to the partner organization. It is not required for user'
      required: false
      schema:
        $ref: '#/components/schemas/organizationIdString'
    webhookIdPath:
      in: path
      name: webhookId
      description: 'Webhook ID'
      required: true
      schema:
        type: string
        description: 'Webhook ID'
        example: 1
    eventIdPath:
      in: path
      name: eventId
      description: 'Event ID'
      required: true
      schema:
        type: string
        description: 'Event ID'
        example: '62'
    groupIdPath:
      in: path
      name: groupId
      description: 'Group ID'
      required: true
      schema:
        type: string
        description: 'Group ID'
        example: '62'
    groupIdQuery:
      in: query
      name: groupId
      description: 'Group ID'
      schema:
        type: string
        description: 'Group ID'
        example: '62'
    recipientIdPath:
      in: path
      name: recipientId
      description: 'Recipient ID'
      required: true
      schema:
        type: string
        pattern: '^[1-9]\d*$'
        description: 'Recipient ID'
        example: '25'
    startQuery:
      in: query
      name: start
      required: true
      description: 'Start Date and Time in the form of ISO 8601'
      schema:
        $ref: '#/components/schemas/start'
    endQuery:
      in: query
      name: end
      required: true
      description: 'End Date and Time in the form of ISO 8601'
      schema:
        $ref: '#/components/schemas/end'
    userIdQuery:
      in: query
      description: 'User ID'
      name: userId
      required: false
      schema:
        $ref: '#/components/schemas/userIdString'
    fileIdQuery:
      in: query
      name: fileId
      required: true
      description: 'File ID of the requested file. Can be obtained either from
        /devices/{imei}/events API response or by calculation of unit timestamp
        (seconds from epoch) of the event (applicable only to virtual events)'
      schema:
[...]
